[Unit]
Description=My Robot static web server (python -m http.server 8000)
Requires=my_rosbridge.service
After=my_rosbridge.service network-online.target
Wants=network-online.target
[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/ROS2_rUBot_mecanum_ws/web
ExecStart=/usr/bin/python3 -m http.server 8000
Restart=on-failure
RestartSec=3
NoNewPrivileges=true
PrivateTmp=true
PartOf=my_rosbridge.service
[Install]
WantedBy=multi-user.target