<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- low friction with base and high friction with wheels -->
    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
        <mu1>0.005</mu1>
        <mu2>0.005</mu2>
    </gazebo>

    <gazebo reference="lower_right_wheel_link">
        <material>Gazebo/Grey</material>
        <mu1>0.4</mu1>
        <mu2>0.4</mu2>
        <kp>1000</kp>
        <ki>100</ki>
        <kd>1</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.5</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="lower_left_wheel_link">
        <material>Gazebo/Grey</material>
        <mu1>0.4</mu1>
        <mu2>0.4</mu2>
        <kp>1000</kp>
        <ki>100</ki>
        <kd>1</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.5</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="upper_right_wheel_link">
        <material>Gazebo/Grey</material>
        <mu1>0.4</mu1>
        <mu2>0.4</mu2>
        <kp>1000</kp>
        <ki>100</ki>
        <kd>1</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.5</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="upper_left_wheel_link">
        <material>Gazebo/Grey</material>
        <mu1>0.4</mu1>
        <mu2>0.4</mu2>
        <kp>1000</kp>
        <ki>100</ki>
        <kd>1</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.5</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo>
        <plugin name="mecanum_controller" filename="libgazebo_ros_omni_drive.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>20.0</odometryRate>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <wheel_radius>0.04</wheel_radius>
            <base_length>0.26</base_length>
            <base_width>0.15</base_width>
            <front_left_joint>upper_left_wheel_joint</front_left_joint>
            <front_right_joint>upper_right_wheel_joint</front_right_joint>
            <rear_left_joint>lower_left_wheel_joint</rear_left_joint>
            <rear_right_joint>lower_right_wheel_joint</rear_right_joint>
            <wheel_max_speed> 2.0 </wheel_max_speed>
            <wheel_acceleration> 1.0</wheel_acceleration>
            <joint_config>1 1 1 1</joint_config>
        </plugin>
    </gazebo>

</robot>