<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="lower_right_wheel_link">
        <material>Gazebo/Grey</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
    </gazebo>

    <gazebo reference="lower_left_wheel_link">
        <material>Gazebo/Grey</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
    </gazebo>

    <gazebo reference="upper_right_wheel_link">
        <material>Gazebo/Grey</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
    </gazebo>

    <gazebo reference="upper_left_wheel_link">
        <material>Gazebo/Grey</material>
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
    </gazebo>

    <gazebo>
        <plugin name="mecanum_controller" filename="libgazebo_ros_omni_drive.so">
            <commandTopic>cmd_vel</commandTopic>
            <odometryTopic>odom</odometryTopic>
            <odometryFrame>odom</odometryFrame>
            <odometryRate>20.0</odometryRate>
            <robotBaseFrame>base_footprint</robotBaseFrame>
            <wheel_radius>0.04</wheel_radius>
            <base_length>0.65</base_length>
            <base_width>0.65</base_width>
            <front_left_joint>upper_left_wheel_joint</front_left_joint>
            <front_right_joint>upper_right_wheel_joint</front_right_joint>
            <rear_left_joint>lower_left_wheel_joint</rear_left_joint>
            <rear_right_joint>lower_right_wheel_joint</rear_right_joint>
            <wheel_max_speed> 20.0 </wheel_max_speed>
            <wheel_acceleration> 10.0</wheel_acceleration>
            <joint_config>1 1 1 1</joint_config>
        </plugin>
    </gazebo>

</robot>